img {
    display: block;
    width: 100%;
}

/* class primary header */
header {
    padding-block: .1em;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
    
    div {
        padding-block-start: 1rem;
        /* border: 10px solid; */
        /* min-width: 250px; */

        /* img {} */
    }

    .mobile-nav-toggle {
        display: none;
    }

    nav {

        /* class primary navigation */
        ul {
            list-style: none;
            padding: .4em;
            margin: 0;
            display: flex;
            gap: var(--gap, 1rem);
            /* background-color: hsl(0 0% 0% / 0.5); */

            li {
                position: relative;
                padding-block-start: 1em;

                a {
                    color:#333333;
                    text-decoration: none;
                    text-transform: lowercase;
                    font-size: 1.3rem;
                    font-weight: 500;


                    &::before {
                        content: '';
                        display: block;
                        height: 5px;
                        /* background-color: #d3d3d3; */

                        position: absolute;
                        top: 0;
                        width: 0%;

                        transition: all ease-in-out 250ms;
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1em;

        .section {
            /* border: 1px solid red; */
            min-height: 90vh;
        }

        /* hair section */
        .hair {

            .wrapper {


                .container {

                    display: grid;
                    justify-items: center;
                    grid-template-areas: "stack";
                    /* mix-blend-mode: multiply; */
                    overflow: hidden;

                    /* max-width: 192px; */
                    #toggle:checked~#label {
                        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
                        aspect-ratio: .468 / 1;

                    }

                    .first-bottle {
                        grid-area: stack;
                        max-width: 192px;
                        overflow: hidden;
                        position: relative;

                        .bottle {
                            width: 192px;
                            /* background-color: red; */
                        }

                        .bottle-label {
                            width: 576px;
                            overflow: hidden;
                            /* aspect-ratio: .5 / 1; */
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -34%);
                            /* border: 10px solid; */
                            transition: left 2s linear;
                        }

                        #toggle:checked~.bottle-label {
                            left: -46%;
                        }
                    }


                    /* #label {
                    align-self: end;
                    grid-area: stack;
                    margin-bottom: 5px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    transition: clip-path 1s linear;
                    overflow: hidden;
                } */



                    .label2 {
                        align-self: end;
                        grid-area: stack;
                        margin-bottom: 5px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}

@supports (backdrop-filter: blur(1rem)) {
    header {
        nav {
            ul {
                background-color: rgba(255, 255, 255, .1);
                backdrop-filter: blur(2px);
            }
        }
    }
}

@media (max-width: 40em) {
    header {
        --gap: 1em;

        .mobile-nav-toggle {
            display: block;
            position: absolute;
            z-index: 9999;
            background: url("../images/hamburger.svg");
            border: 0;
            width: 2rem;
            aspect-ratio: 1;
            top: 2rem;
            right: 2rem;

            &[aria-expanded="true"] {
                background-image: url("../images/nav-close.svg")
            }

        }

        nav {

            ul {
                position: fixed;
                z-index: 1000;
                inset: 0 0 0 30%;
                flex-direction: column;
                padding: min(30vh, 10rem) 2em;
                transform: translateX(100%);
                transition: transform 350ms ease-out;

                &[data-visible="true"] {
                    transform: translateX(0%);
                }
            }
        }
    }
}


/* 320.728 px 1053 px */