:root {
    --primary-color: black;
    --bg-color: #ffffff;
    --font-color: #333333;
    /* --font-color: #ffffff */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Image resets */
img {
    max-width: 100%;
    display: block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

html {
    background-image: url("../images/background.png");
}

body {
    max-width: 1550px;
    margin: 0 auto;
    /* padding-inline: 2em; */
    /* font-family: sans-serif; */
    font-family: "Expletus sans", sans-serif;
    font-size: 16px;
    color: var(--font-color);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Header */
header {

    /* header for the class primary header */
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    ;

    /* Logo */
    div {
        width: clamp(7rem, 20vw, 8rem);

        box-sizing: content-box;
        /* padding-block: 1rem; */
        /* padding-inline: 2rem; */
        z-index: 999;
    }

    /* Menu button */
    button {
        display: none;
    }


    /* Navigation */
    nav {

        /* ul for the class primary-navigation */
        ul {
            list-style: none;
            display: flex;
            gap: 1rem;

            li {

                a {
                    color: var(--font-color);
                    letter-spacing: 100;
                    text-decoration: none;
                    font-size: 1.4rem;
                    font-weight: 700;
                    font-variant: small-caps;
                    margin-inline-end: 0.75rem;
                }
            }
        }
    }

}

/* Main */
main {
    /* margin-block-start: 1em; */
    /* flex-grow: 1; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
}

/* Footer */
footer {
    color: var(--font-color);
    margin: 0 auto;

    p {
        display: flex;
        flex-direction: column;
        line-height: 1.4;
    }
}

@media (max-width: 50em) {

    header {
        position: sticky;
        top: 0;
        left: 0;
        /* position: relative; */

        button {
            display: block;
            position: absolute;
            top: 1.2rem;
            right: 2rem;
            z-index: 999;
            border: none;
            background: transparent;
            /* background: black; */


            /* Hamburger */
            .hamburger {
                /* background-color: red; */

                .line {
                    transition: y 1s linear forwards;
                    /* transition: 500ms rotate 1s; */
                    transform-origin: center;
                }

            }

            &[aria-expanded="true"] .top {
                y: 45;
                rotate: 45deg;
            }

            &[aria-expanded="true"] .middle {
                opacity: 0;
            }

            &[aria-expanded="true"] .bottom {
                y: 45;
                rotate: -45deg;
            }

        }

        nav {


            ul {
                position: fixed;
                inset: 0 0 0 0;
                backdrop-filter: blur(10px);
                flex-direction: column;
                padding: 10rem 2rem;
                z-index: 100;
                gap: 3rem;
                transform: translateX(100%);
                transition: transform 300ms ease-out;

                &[data-visible="true"] {
                    transform: translateX(0%);

                }

                li {

                    a {
                        font-size: 3rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }

}